h1 {
    color: red;
}

h2 {
    color: green;
}
h3 {
    color: blue;
}

h4 {
    color: brown;
}
p {
    color: yellow;
}

i {
    color: orange;
}
strong {
    color: purple;
}
b{
    color: darkgreen;
}